* {
    font-family: 'Poppins', sans-serif;
    color: white;

}

li {
    list-style-type: none;
}

body {
    margin: 0;
    background: url(image/8088665.gif);
    filter: saturate(8);
    background-attachment: fixed;
    background-size: 100% 100%;
    backdrop-filter: contrast(90%);
}

i {
    font-size: 28px;

}

/* Span Of The Lives */
/* اسپن جون */


/* دیو فضای کارکتر */
#ballContainer {
    width: 99%;
    height: 90vh;


}

/* The Ball's Div */
/* دیو توپ */
#ball {
    width: 10%;
    transition-duration: 2s;
    -webkit-user-select: none;
    user-select: none;
}

/* Game Over Error */
#error {
    background: url(image/error.gif);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    text-align: center;
    font-size: 100px;
}

#error span {
    cursor: pointer;
}

/* Bomb */
#bomb {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

/* Main Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    position: relative;
    padding: 20px 0;
    flex-direction: row-reverse;
}

.headercontainers {
    display: flex;
    justify-content: space-between;
    margin: 10px;

}

.headercontainers div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.headercontainers div span {
    font-size: 24px;
    margin-right: 3px;
}
.headercontainers button{
    color: rgb(17, 255, 0);
    background-color: hsla(0, 0%, 100%, 0.628);

}

#lives {
    font-size: 20.8px;
    color: aliceblue;
}

span#lives {
    margin: 4px;
}
#scoreBoard {
    height: 50vh;
    width: 50%;
    background: hsla(0, 0%, 100%, 0.628);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(129, 174, 155, 0.5);
    position: relative;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
}

/* modal start main*/
#modalStartMain {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid lightblue;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(129, 174, 155, 0.5);
    backdrop-filter: blur(8px);
}

#modalStart h1 {
    font-size: 60px;
    color: lightBlue;
}

#btnStartMain {
    margin: 10px;
    padding: 20px 40px;
    border-radius: 10px;
    border: 3px solid lightblue;
    font-size: 24px;
    font-weight: bold;
    transition-duration: 1s;
    cursor: pointer;
}


#btnScores {
    margin: 10px;
    padding: 20px 26px;
    border-radius: 10px;
    border: 3px solid lightblue;
    font-size: 24px;
    font-weight: bold;
    transition-duration: 1s;
    cursor: pointer;
}

#btnStartMain:hover,
#btnScores:hover {
    border-radius: 80% 10px;
}

/* modal click to start main  */

#modalClickStart {
    width: 50%;
    height: 50vh;
    /* margin: 10% auto 0; */
    /* دیسپلی با جاوااسکریپت فلکس می شود */
    display: none;
    flex-direction: column;
    align-items: center;

    border: 3px solid lightblue;
    border-radius: 20px;

    position: relative;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(129, 174, 155, 0.5);
    backdrop-filter: blur(8px);
}

#backToModalStartMain {
    position: absolute;
    top: 1%;
    left: 1%;
    cursor: pointer;
}

#modalClickStart h5 {
    margin: 0;
}

#modalClickStart>div:nth-of-type(1) {
    display: flex;
    width: 80%;
    justify-content: space-around;
    flex-direction: row-reverse;
}

#modalClickStart>div>div {

    display: flex;
    flex-direction: column;
    align-items: center;

}

#modalClickStart>div h5:nth-of-type(1) {
    margin-right: 75%;
    margin-top: 20%;
}

#modalClickStart>div h5:nth-of-type(2) {
    margin-right: 55%;
    margin-top: 20%;
}

#modalClickStart input {
    text-align: left;
}

#btnPlayGame {
    margin-top: 10%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}